<h1>Showing path info</h1>
<%= "Path from <strong>#{@path.start_address}</strong> to <strong>#{@path.end_address}</strong>.".html_safe %>
<br>

<h2 class="ui header">
  <i class="car icon"></i>
  <div class="content">
    Travel time
    <div class="sub header">
    	Journey travel time: <%= @path.travel_time %> minutes.
    	If you leave now, your expected arrival time is <%= expected_arrival_time(@path) %>.
    </div>
  </div>
</h2>
