<h2 class="ui header">
  <i class="map icon"></i>
  <div class="content">
    All routes
    <div class="sub header">
       If you are going to travel to all routes, this is your expected itinerary:
    </div>
  </div>
</h2>

<%= full_itinerary %>