<h1>Showing route info</h1>
<%= "Route from #{@route.startcoords} to #{@route.endcoords}" %>
<br>

<h2 class="ui header">
  <i class="car icon"></i>
  <div class="content">
    Travel time
    <div class="sub header">
    	Journey travel time: <%= @route.travel_time %> minutes.
    	If you leave now, your expected arrival time is <%= expected_arrival_time(@route) %>.
    </div>
  </div>
</h2>